@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

* {
  color: white;
}

body {
  background-color: black;
}

img {
  width: 420px;
  height: 270px;
  margin: 30px;
}

.titulo {
  font-size: 23px;
  font-family: "Silkscreen", sans-serif;
  font-weight: 500;
  font-style: normal;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

h2 {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 30px;
} 

h3 {
  margin: 100px; 
  display: flex;
  text-align: center;
}

p {
  display: flex;
  justify-content: center; 
  align-items: center;
  font-weight: 500;
  font-size: 17px;
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding-left: 8px;
  padding-right: 8px;
}

.conteudo-padrao {
  display: flex;
  justify-content: center; 
  align-items: center;
  transition: transform 0.5s, border 0.5s;
  margin: 50px;
}

.conteudo-padrao:hover {
  transform: scale(1.05);
  margin: 50px;
}

.conteudo {
  border: 5px solid #2e004e;
  margin: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: 1s;
}

.container div {

  display: inline-block;
}

.container a {
  font-size: 20px;
  color: #ffffff;
  padding: 10px;
  display: inline-block;
  border:2px dashed white ;
}

.container a:hover {
  background-color: #880ce0;
  border: 2px solid #ffffff;
  transition: 0.5s;
  transform: scale(0.95);
}

.spacei{
  padding-right: 30px;
}

.pacm{
  padding-right: 30px;
  padding-left: 30px;
}

.donkeyk{
  padding-right: 30px;
  padding-left: 30px;
}

.superm{
  padding-right: 30px;
  padding-left: 30px;
}
.intro-pag {
  border: 2px solid #ffffff;
  margin: 50px;
}

.footer {
  font-size: 15px;
}

.sob {
  color: #ffffff;
  display: inline-block;
  border:2px dashed white;
}

.sob p{
  font-size: 30px;
  margin: 6px;
  margin-bottom: 10px;
}

.sob:hover {
  background-color: #880ce0;
  border: 2px solid #ffffff;
  transition: 0.5s;
  transform: scale(0.95);
}

.final {
  color: #ffffff;
  display: inline-block;
  border:2px dashed white;
}

.final p{
  font-size: 18px;
  margin: 8px;
}

.final:hover {
  background-color: #880ce0;
  border: 2px solid #ffffff;
  transition: 0.5s;
  transform: scale(0.95);
}


footer {
  background: linear-gradient(to right, #3e0169, #260141);
  padding: 20px; 
  text-align: center;
  font-size: 20px; 
  color: #ffffff; 
  border-top: 5px solid #dee2e6; 
  overflow: hidden; 
}

footer a {
  color: #ffffff; 
  text-decoration: none; 
}

footer a:hover {
  text-decoration: underline; 
}

.github {
  width: 53px;
    height: 50px;
    max-width: 100%;
    height: auto;
}

.github:hover{
  transform: scale(0.9);
  transition: transform 0.2s, border 0.2s;
}

.insta {
  width: 50px;
    height: 100px;
    max-width: 100%;
    height: auto;
}

.insta:hover{
  transform: scale(0.9);
  transition: transform 0.2s, border 0.2s;
}